<!DOCTYPE html>
<html>
    <head>
        <p> <a href="/"> Return to Homepage</a> </p>
        <title>Bibtex Viewer</title>
    </head>

    <body>
        <h1>Upload New Collection</h1>
        <form method=post enctype=multipart/form-data>
        Please insert a new collection by uploading a BibTex file into the form below.
          <p>Collection Name:<input type=text name=collection_name />
             <input type=file name=file>
             <input type=submit value=Upload>
        </form>
    </body>
</html>
